body {
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: 400;
}

h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
}

img.rounded-circle {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #f65f33;
}

/* navbar */
a {
    color: #303030;
}

a:hover{
    color: #f65f33;
}

.nav-link {
    font-weight: 700;
}

.navbar {
    text-transform: uppercase;
    color: #fff;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

/* hero section*/

.hero {
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    border: 1px solid #fff;
}



/* call to action */

.dark-background {
    background: #303030;
     color: #fafafa;
}

span {
    color: #f65f33;
}

.btn-main {
    background-color: #f65f33;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-main:hover {
    background-color: #fafafa;
    color: #f65f33;
}


/* Services style Section */
.services {
    margin: 0;
}

.service-icon {
    background-color: #f65f33;
}

.service-icon i {
    font-size: 3rem;
    color: #fff;
}

/* Testimonials */

.slider-item {
    display: none;
}

.active-slider-item {
    display: block;
}

.img-fluid {
    overflow: hidden;
}

 .gas-img {
    width: 350px;
    height: 350px;
} 

/* team */

.team-social-links {
    background-color: #303030;
    position: absolute;
    top: 10px;
    right: 20px;
}

.team-social-links {
    color: #fff;
}

.team-social-links a:hover {
    color: #f65f33;
}